<!doctype html>
<html>
  <head>
    <title>Push me and I'll deploy for you</title>
    <link href="/stylesheets/iwin.css" media="screen" rel="stylesheet" type="text/css" /> 
    <script type="text/javascript" src="/javascripts/jquery-min.js"></script>
  </head>
  <body>
    <div id="build_results" class="hidden"></div>
    <div class="button centered">
      <button class="deployment" id="build">
        I Win
      </button>
      <div id="last_deployed"></div>
    </div>
    <script type="text/javascript" src="/javascripts/status-watcher.js"></script>
    <script type="text/javascript" src="/javascripts/deployer.js"></script>
  </body>
</html>