button.deployment {
  width: 420px;
  height: 220px;
  font-size: 30pt;
  font-weight: bold;
  border-width: 8px;
}

button.building, button.deploying {
  background-color: grey;
  color: black;
}

button.built, button.deployed {
  background-color: green;
  color: white;
}

button.failed {
  background-color: red;
  color: black;
}

.centered {
  position: fixed;
  top: 30%;
  left: 30%;
}

#last_deployed {
  width: 98%;
  text-align: cennter;
}